@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/chavter');

:root {
    --thumb-bgcolor: #111111;
  }
  
  main {
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    /* background-color: var(--thumb-bgcolor); */
    transition: margin-left .5s;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* canvas {
    display: block;
  }
  body {
    white-space: none;
    overflow: hidden;
  } */
  
  
  
  @media (prefers-color-scheme: dark) {}
  
  main>section {
    /* max-width: 1350px; */
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #desktop-nav {
    position: fixed;
    top: 0;
    margin: auto;
    max-width: 1350px;
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
    height: 80px;
  }
  
  #desktop-nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .thumb {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: lighter;
  }
  
  .image-thumb {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #fff;
  
    transform-style: preserve-3d;
  
    background-image: url(/src/assets/lucasFoto.png);

    background-position: -40px -60px;
    background-size: 450px;
    cursor: pointer;
    filter: saturate(1.2) drop-shadow(0px 0px 4px #ffffff4f) blur(0.5px);
    border: #ffffff solid 10px;
  
  
  }
  
  .image-thumb:hover {
    filter: saturate(1.2) drop-shadow(0px 0px 8px #ffffff76) blur(0.2px);
    /* background-size: 1300px; */
  }
  
  .content-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
  }
  
  .text-thumb {
    /* background-color: red; */
    height: max-content;
    max-width: 600px;
    /* border-bottom: #ffffff solid 10px; */
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.123));
  }
  
  .text-thumb>h1 {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 5px;
  }
  
  .text-thumb > span {
    font-size: 18px;
    font-weight: 300;
  }
  
  #barrinha {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .smedia-thumb {
    background-color: #af2a2a;
    height: 30px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .smedia-thumb>img {
    height: 30px;
    width: auto;
  }
  
  
  .smedia-thumb>i {
    font-size: 22px;
  }
  
  
  /*------------colapsed-sidebar-------------*/
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0);
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .openbtn:hover {
    background-color: rgba(68, 68, 68, 0.13);
    border-radius: 50%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #projectsTitle {
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
  }
  
  
  #nome {
    font-family: 'CHAVTER', sans-serif;
    font-size: 60px;
  }
  
  @media only screen and (max-width: 570px){
    .text-thumb>h1 {
      font-size: 40px;
    }
  
  
    .text-thumb > span {
      font-size: 17px;
    }
  
    .image-thumb {
      width: 350px;
      height: 350px;
      background-position: -60px -70px;
      background-size: 450px;

    }

    main>section {
      /* max-width: 1350px; */
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media only screen and (max-width: 400px){
    .text-thumb>h1 {
      font-size: 30px;
      /* text-align: left; */
    }
  
    .text-thumb > span {
      font-size: 13px;
    }
  .image-thumb {
      width: 100%;
      height: 300px;
  }
    main>section {
      /* max-width: 1350px; */
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      white-space: none;
    }
  }
  
  
  
  
    @media only screen and (min-width: 1280px){
    .container {
        max-width: 1280px;
    }
  }
    @media only screen and (min-width: 1024px){
        .container {
        max-width: 1024px;
    }
    }
  
    @media only screen and (min-width: 768px){
    .container {
        max-width: 768px;
        padding: 0 1.5rem;
    }
  }
    .container {
        padding: 0 1rem;
        margin: 0 auto;
        width: 100%;
        background-color: #af2a2a;
    }
  
  
  
  /* #projects::before {
      content: '';
      position: absolute;
      width: 100%;
      background: #00d19d;
      clip-path: inset(47% 0 0 0);
      z-index: -1;
      height: 100%;
    } */
  
  ::selection {
    background: #00d19d;
    color: #111111;
  }
  
  
  .js-tilt-glare {
    border-radius: 50%;
  }
  
  .media-icons {
    margin-top: 25px;
    display: flex;
  
  }
  
  .media-icons a {
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #111;
    transition: all 0.3s ease;
  }
  
  .media-icons a:hover {
    color: #ffffff;
    border-color: #ffffff;
  }
  
  
  /*scrollbar*/
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    border: transparent 10px solid;
    background: #0c0c0c;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px #ffffff; */
    border-radius: 10px;
    /* width: 10px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1d1d1d;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272727;
  }