body {
    background-image: url('../src/assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;


}

@media only screen and (max-width: 570px){
    body {
        background-size: 1000px;
        background-repeat: repeat;
    }
}